.container{
  margin: auto;
  width: 80%;
  overflow: hidden;

}
#my-site{
  background-color: coral;
  color: #eee;
  margin: 0px;
  padding: 5px;
}
#navbar{
  background-color: black;
  color: white;
}
#navbar ul{
  list-style: none;
  padding: 5px;

}
#navbar li{
  display: inline;

}
#navbar a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;


}
#navbar a:hover{
  background-color: red;
}
body{
  line-height: 1.6em;
  font-size: 16px;
  color: rgb(5, 5, 5);
  background-color: white;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  

  /* font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  display: inline;
  text-decoration: none;
  padding: 5px;
  margin: 5px; */


img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  padding: 5px;
  align-self: center;
}
.showcase{
  text-align: center;
  font-size: 18px;
  font-family: tahoma ;

}
.introduction{
  text-align: center;
}
.hobbies{
  float: left;
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.priorities{
  float:right;
  width: 25%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.skills{
  float: right;
  width: 25%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box; 
}
/* *{
  background:url(images\ \(14\).jpeg);
  color: rgb(31, 28, 28);
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;

} */

/* .introduction{
 width: 20%;
 
  background: rgb(18, 83, 167);
  border: 4px 2px outset;
  
}
.location{

width: 20%;
 
background: rgb(18, 83, 167);
border: 4px 2px outset;
}
.hobbies{
  width: 20%;
 
background: rgb(18, 83, 167);
border: 4px 2px outset;
}
.skills{
width: 20%;
 
background: rgb(18, 83, 167);
border: 4px 2px outset;
}
.priorities{
width: 20%;
 
background: rgb(18, 83, 167);
border: 4px 2px outset;
} */
button{
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
margin: 5px 0px;
border: 2px;
border-radius: 10px;
}
button:hover{
  background-color: red;
  color: white;
}
.footer{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}